dash
dash-core-components
dash-html-components
dash-renderer
plotly
cx_Freeze
cx_Logging
waitress
pandas
numpy
datetime
mysql
mysql.connector
pymysql
sqlalchemy
os
webbrowser
Flask==2.1.1
Flask-Compress==1.12
